<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://investadvisor.biz</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://volchanfirst-001-site1.ftempurl.com:8172/MsDeploy.axd?site=volchanfirst-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>volchanfirst-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\volchanfirst-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InvestAdvisorDb" Order="1" Enabled="False">
          <Destination Path="Data Source=sql6002.site4now.net;Persist Security Info=True;User ID=DB_A2EFD0_InvestAdvisor_admin;Password=Wolf1981" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="InvestAdvisor.Data.InvestAdvisorDbContext, InvestAdvisor.Data" MigrationConfiguration="InvestAdvisor.Data.Migrations.Configuration, InvestAdvisor.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="InvestAdvisorDb-Web.config Connection String">
      <ParameterValue>Data Source=sql6002.site4now.net;Persist Security Info=True;User ID=DB_A2EFD0_InvestAdvisor_admin;Password=Wolf1981</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>