@model InvestAdvisor.Model.ProjectModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3>@Model.Name</h3>
        <p>
            Вы уверены что хотите удалить этот проект?
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <button type="submit" class="btn waves-effect waves-light btn-outline-info">Удалить</button>
            </div>
        }
        <div>
            <button type="button" class="btn waves-effect waves-light btn-secondary">@Html.ActionLink("Назад к списку", "Index")</button>
        </div>
    </div>
</div>
