body {
    /*фон всего сайта (подложка)*/
    /*background: url('http://placehold.it/1920x1080') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jumbotron {
    background-color: white;
}

/*Header*/
.logo-link {
    background: url('../Images/invest-advisor-logo-h46.png') no-repeat center center;
    display: block;
    width: 216px;
    height: 46px;
    text-indent: -9999px;
    background-size: 172px 23px;
}

.navbar-default {
    background-color: white;
}

    .navbar-default .navbar-nav > li > a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: black;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: black;
            text-decoration-line: underline;
        }
 /*End Header*/

 