@model InvestAdvisor.Model.ViewModels.NewsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-titles">
    <div class="align-self-center">
        <h3 class="text-themecolor">Новости</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var news in Model.News)
        {
            <div class="col-lg-6 col-xlg-4 col-md-6">
                @Html.Partial("NewsListItem", news)
            </div>
        }
    </div>
</div>

