@model InvestAdvisor.Model.ViewModels.NewsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-titles">
    <div class="align-self-center">
        <h3 class="text-themecolor">Новости</h3>
    </div>
</div>

