@using InvestAdvisor.Model.ViewModels.Enums
@model InvestAdvisor.Model.ViewModels.ProjectsViewModel

<div class="row page-titles">
    <div class="align-self-center">
        <h3 class="text-themecolor">@(Model.ActiveSubMenuItem == SubMenuItem.ProjectsActive ? "Активные" : "Закрытые") инвестиционные проекты</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var project in Model.Projects)
        {
            <div class="col-lg-4 col-xlg-3 col-md-6 col-sm-6">
                @Html.Partial("ProjectListItem", project)
            </div>
        }
    </div>
</div>
